<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Home</title>
    <link href="~/StyleSheet.css" rel="stylesheet" />
</head>
<body>
    <section>
        <div>
            <h1>TIME</h1>
            <h1>Person of the Year</h1>
        </div>
        <form method="post">
            <label name="firstYear">Begining Year</label>
            <input name="firstYear" type="number" placeholder="1927" />

            <label name="secondYear">End Year</label>
            <input name="secondYear" type="number" placeholder="2016" />

            <button type="submit">SUBMIT</button>

        </form>
    </section>
</body>
</html>